@import "../common/common";

.thumbnail {
    display: block;
    position: relative;
}

.thumbnailpiccontrol {
    margin: 2px;
    cursor: pointer;
}

.thumbnailheader {
    color: $color-white;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    .albumitem {
        width: calc(33.33333% - 40px);
    }
}

@media screen and (max-width: 600px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    .albumitem {
        width: calc(33.33333% - 40px);
    }
}

@media screen and (max-width: 540px) {
    .albumitem {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 400px) {
    .albumitem {
        width: calc(50% - 40px);
    }
}
