@import "../common/common";

.albumframe {
    border: 0px solid $color-tan;
    width: 100%;
    height: auto;
    position: relative;
    background-color: $color-transparent;
    padding: 5px 0px 0px;
    float: left;
}

.albumitem {
    background-color: $color-atlantis;
    padding: 10px;
    width: calc(25% - 40px);
    margin: 0px 10px 10px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.album {
    display: block;
    min-height: 200px;
}

.albumpiccontrol {
    width: 200px;
    height: 200px;
}

.thumbnaulheader {
    color: $color-white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 0px;
    position: relative;
    margin-top: 0px;
    top: 150px;
    font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    .albumitem {
        width: calc(33.33333% - 40px);
    }
}

@media screen and (max-width: 600px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    .albumitem {
        width: calc(33.33333% - 40px);
    }
    .album {
        min-height: 150px;
    }
    .albumpiccontrol {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 540px) {
    .albumitem {
        width: calc(50% - 40px);
    }
    .album {
        min-height: 120px;
    }
    .albumpiccontrol {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 400px) {
    .albumitem {
        width: calc(50% - 40px);
    }
    .album {
        min-height: 120px;
    }
    .albumpiccontrol {
        width: 120px;
        height: 120px;
    }
}
