@import "../common/common";

.select {
    display: inline-block;
    height: auto;
    background-color: $color-transparent;
}
.selectlabel {
    position: relative;
    cursor: pointer;
    font-family: Open Sans, Sans-Serif;
    font-size: 1rem;
    font-weight: normal;
    color: $color-blackboard;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    select {
        color: $color-blackboard;
        font-family: Open Sans, Sans-Serif;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.67rem;
        left: 5px;
        text-align: justify-all;
        border: 1px solid $color-blackboard;
        background-color: $color-white-darker;
    }
}
