@import "../common/common";

.aboutusframe {
    border-width: 0px;
    border-style: solid;
    border-color: $color-tan;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    line-height: 22px;
    padding: 0px 0px 10px;
    position: relative;
    background-color: $color-shark;
    float: left;
}

.storycontainer {
    background-color: $color-white-dark;
    width: calc(100% - 20px);
    height: auto;
    font-family: Open Sans, Sans-Serif;
    font-weight: normal;
    margin: 0px 10px 10px;
    float: left;
}

.storyimage {
    width: calc(50% - 20px);
    padding: 10px;
    float: left;
    text-align: center;
}

.story {
    width: calc(50% - 20px);
    padding: 0px 10px;
    float: left;
}

.storytitle {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: $color-crete;
    text-align: center;
}

.storydescription {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.67rem;
    color: $color-abbey;
    text-align: justify;
}

@media screen and (max-width: 820px) {
    .storyimage, .story {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 400px) {
    .storydescription {
        text-align: left;
    }
}