@use "../common/common" as *;

.errorframe {
    border-width: 0;
    border-style: solid;
    border-color: $color-tan;
    width: 100%;
    height: auto;
    margin: 10px 0;
    line-height: 1.67rem;
    position: relative;
    background-color: $color-transparent;
    float: left;
}

.errormessage {
    background-color: $color-nero;
    margin: 0 10px 10px;
    color: $color-white;
    font-family: Open Sans, Sans-Serif, serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.67rem;
    padding: 0 10px;
    text-align: justify;
    a {
        text-decoration: underline;
        color: $color-amber;
    }
}

@media screen and (max-width: 600px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    .errormessage {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .errormessage {
        text-align: left;
    }
}
