@use "../common/common" as *;

.faqframe {
    border-width: 0px;
    border-style: solid;
    border-color: $color-tan;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    line-height: 22px;
    position: relative;
    background-color: $color-transparent;
    float: left;
}

.faqcontainer {
    background-color: $color-transparent;
    width: calc(100% - 20px);
    height: auto;
    color: $color-black;
    font-family: Open Sans, Sans-Serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.67rem;
    padding: 0px;
    margin: 0px 10px;
    float: left;
}

.faqsection {
    color: $color-white;
    width: calc(100% - 10px);
    padding: 10px 5px;
    height: auto;
    margin-bottom: 10px;
    background-color: $color-nero;
    float: left;
    a {
        color: $color-amber
    }
}

.faqtitle {
    font-weight: bold;
    color: $color-atlantis;
}

.faq {
    width: 100%;
    text-align: justify;
    float: left;
}

.faqdescription {
    font-weight: normal;
    color: $color-white;
}

@media screen and (max-width: 400px) {
    .faq {
        text-align: left;
    }
}