@use "../common/common" as *;

.galleryframe {
    border-width: 0px;
    border-style: solid;
    border-color: $color-tan;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    line-height: 22px;
    padding: 0px 0px 10px;
    position: relative;
    background-color: $color-shark;
    float: left;
    a {
      text-decoration: none;
    }
}

.gallerycontainer {
  width: calc(100% - 30px);
  height: auto;
  line-height: 1.67rem;
  background-color: $color-transparent;
  padding: 5px 5px 0px;
  margin: 0px 10px;
  float: left;
}

.galleryfieldcontainer {
  margin: 0px;
  padding: 5px 10px;
}

.gallerybuttoncontainer {
  width: calc(100% - 20px);
  height: auto;
  margin: 0px 10px;
  padding: 10px 0px;
  background-color: $color-nero;
  border: 0px solid $color-tan;
  text-align: center;
  float: left;
}

.gallerylink {
    font-weight: normal;
    font-size: 0.9rem;
    color: $color-atlantis;
    cursor: pointer;
    text-decoration: underline;
    text-align: right;
}

.galleryintro {
  width: calc(100% - 10px);
  float: left;
  color: $color-abbey;
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 10px 5px;
  text-align: left;
  p {
    margin: 10px;
  }
}

.galleryshare {
    padding: 5px 0px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;
}