@use "../common/common" as *;

.galleryframe {
    border-width: 0px;
    border-style: solid;
    border-color: $color-tan;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    line-height: 22px;
    padding: 0px 0px 10px;
    position: relative;
    background-color: $color-shark;
    float: left;
    a {
      text-decoration: none;
    }

}

.gallerycontainer {
  background-color: $color-white-dark;
  width: calc(100% - 20px);
  height: auto;
  font-family: Open Sans, Sans-Serif;
  font-weight: normal;
  margin: 0px 10px 10px;
  float: left;
}

.galleryintro {
  width: calc(100% - 10px);
  float: left;
  color: $color-abbey;
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 10px 5px;
  text-align: left;
  p {
    margin: 10px;
  }
}