@use "../common/common" as *;

.commentcontainer {
  background-color: $color-nero;
  width: calc(100% - 40px);
  height: auto;
  font-family: Open Sans, Sans-Serif;
  font-weight: normal;
  margin: 0px 10px;
  padding: 0px 10px;
  line-height: 1.67rem;
  float: left;
}

.commentfieldcontainer {
  margin: 0px;
  padding: 5px 10px;
}

.commentbuttoncontainer {
  width: 100%;
  height: auto;
  margin: 0px 0px 5px;
  padding: 10px 0px;
  background-color: $color-nero;
  border: 0px solid $color-tan;
  text-align: center;
  float: left;
}

.commentList {
  color: $color-white-darker;
}

.commentheader {
  font-family: Open Sans, Sans-Serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: $color-white-darker;
  padding: 5px 5px;
  margin: 0 auto;
}