@use "../common/common" as *;

.familygroup {
  margin-top: 5px;
  width: 100%;
  margin-left: 0%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 5px;
}

.familyimagecontainer {
  background-color: $color-nero;
  padding: 0px 10px;
  width:calc(33.33333333% - 30px);
  margin: 10px 0px 10px 10px;
  text-align:center;
  cursor:pointer;
  border: 0px solid $color-blackboard;
}

.familyimage {
  width: 100% ;
  float: left;
  margin: 0 auto;
  padding: 10px 0px;
  text-align: justify;
  img {
    margin: 5px 0px 10px 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.familytextcontainer {
  background-color: $color-nero;
  padding: 0px 10px;
  width:calc(66.66666667% - 30px);
  margin: 10px 10px 10px 0px;
  text-align:center;
  cursor:pointer;
  border: 0px solid $color-blackboard;
}

.familytext {
  width: calc(100% - 10px);
  float: left;
  color: $color-white-darker;
  font-size: 1rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 10px 5px;
  text-align: left;
  p {
    margin: 5px 0px 10px 0px;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .familyimagecontainer {
    width: calc(50% - 15px);
    margin: 10px 0px 10px 5px;
    padding:5px 5px;
  }
  .familytextcontainer {
    width: calc(50% - 15px);
    margin: 10px 5px 10px 0px;
    padding:5px 5px;
  }
  .familytitle, .familydate, .familyimage, .familylocation, .familytext {
    width: calc(100% - 10px);
    padding: 5px 5px;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 400px) {
  .familyimagecontainer {
    width: calc(100% - 20px);
    margin: 10px 5px 0px;
    padding:5px 5px;
    img {
      margin: 5px 0px 0px 0px;
    }
  }
  .familytextcontainer {
    width: calc(100% - 20px);
    margin: 0px 5px 10px;
    padding:5px 5px;
  }
}