@use "../common/common" as *;

.headerbar {
    background-color: $color-shark;
    width: 100%;
    float: left;
}

.header {
    width: 100%;
    height: auto;
    background: $color-shark;
    font-size: 0.9rem;
    color: $color-white;
    font-size-adjust: none;
    font-stretch: normal;
    vertical-align: middle;
    line-height: 20px;
    padding: 5px 0px;
    float: left;
}

.taleofddhlogo {
    float: left;
    width: calc(50% - 5px);
    text-align: left;
    padding-left: 5px;
    a {
        text-decoration: none;
        img {
            max-width: 160px;
        }
    }
}

.links {
    float: left;
    padding-right: 10px;
    width: calc(50% - 10px);
    text-align: right;
    margin-top: 8px;
    a {
        color: $color-white;
        text-decoration: none;
    }
}

.visitorlanguage {
    font-size: 0.9rem;
    line-height: 1.67rem;
    padding-top: 3px;
    a {
        img {
            width: 20px;
            height: 20px;
        }
    }
    img {
        width: 20px;
        height: 20px;
    }
}

.headertext {
    font-size: 0.9rem;
    line-height: 1.67rem;
}

.signin {
    float: left;
    padding-right: 10px;
    width: calc(50% - 10px);
    text-align: right;
    margin-top: 8px;
    a {
        color: $color-white;
        text-decoration: none;
    }
    display: inline-block;
}

.signinicon {
    float: left;
    padding-right: 40px;
    width: calc(50% - 40px);
    margin-top: 7px;
    text-align: right;
    a {
        color: $color-white;
        text-decoration: none;
        img {
            width: 25px;
            height: 25px;
        }
    }
    img {
        width: 25px;
        height: 25px;
    }
    display: none;
}

.signintext {
    line-height: 1.67rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: $color-white;
    border: 2px solid $color-white;
    padding: 3px 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.headericon {
    margin: 0 auto;
    padding: 0;
    width: 28px;
    height: 28px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -3px;
}

@media screen and (max-width: 768px) {
    .links {
        .visitorlanguage {
            padding-right: 30px;
        }
        .headertext {
            display: none;
        }
        .headericon {
            left: -30px;
        }
    }
    .signin {
        padding-right: 40px;
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 600px) {
    .signin {
        display: none;
    }
    .signinicon {
        display: inline-block;
    }
}