@use "../common/common" as *;

.titleholder {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.title {
    color: $color-white;
    font-family: Open Sans, Sans-Serif, serif;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.7rem;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px 0px;
    img {
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 820px) {
    .title{
        font-size: 1.4rem;
        line-height: 2.3rem;
    }
}

@media screen and (max-width: 400px) {
    .title{
        font-size: 1.2rem;
        line-height: 2rem;
    }
}
